
/*table font  */
.table{
  font-family: sans-serif;
  font-size: 16spx;
  }

/*heading   */

h2{
  color: #777;
}
h3{
  color: #777;
}
h4{
  color: #777;
}
.h4st{
  margin-top: 214px;
  margin-left: -110px;
}
tbody{
  color: #777;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7CFC00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7CFC00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


  /* list item    
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

.tg-list {
text-align: center;
display: flex;
align-items: center;
}

.tg-list-item {
  margin: 0 2em;
} */